* {
    font-family: sans-serif;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background-color: #0a6b5b;
    width: 50%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

.logotipo {
    max-width: 600px;
    margin-bottom: 24px;
}

.container-input {
    max-width: 500px;
    margin: 25px 0;
}

.container-input span {
    color: #b2f8d5;
    font-size: 30px;
} 

.slider {
    -webkit-appearance: none;
    width: 100%;
    border-radius: 10px;
    background: #a11e225f;
    height: 25px;
    outline: none;
    margin-top: 20px;
    cursor: pointer;
} 

.button-cta {
    height: 50px;
    background: #4dce0752;
    border: 0;
    border-radius: 10px; 
    cursor: pointer; 
    margin-top: 30px;
    color: #FFFFFF;
    font-weight: bold; 
    font-size: 30px;
} 

.container-password {
    max-width: 480px; 
    margin: 18px 0; 
    display: flex; 
    align-items: center; 
    flex-direction: column; 
    cursor: pointer;
}

.title {
    text-align: center; 
    color: #FFFFFF;
    font-size: 20px; 
    margin-top: 20px; 
    margin-bottom: 10px;
}

.password {
    height: 70px;
    background-color: rgba(0, 0, 0, 20%); 
    border-radius: 10px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color: #FFFFFF; 
    border: 2px solid #FFFFFF;
    transition: transform 0.5s;
}

.password:hover {
    transform: scale(1.10);
}

.tooltip {
    color: #FFFFFF;
    position: relative;
    top: 20px;
    padding: 8px 8px;
    background: rgba(25, 93, 7, 0.656);
    text-align: center;
    font-size: 18px;
    border-radius: 8px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.hide {
    display: none;
}

.container-password:hover .tooltip {
    visibility: visible;
    bottom: 70px;
    opacity: 1;
}

/* Reponsividade */ 
@media screen and (min-width: 400px) {
    
    body {
        display: flex;
    }
    
    main {
      margin: 1em 2em;
    }


  }